.navbar{
      margin-bottom:0;
	  border-radius:0;
	  background-color:#5E4485;
	  color:#FFF;
	  padding:3% 0;
	  font-size:1.2em;
	  border:0;
	}
.navbar-brand{
        float:left;
        min-height:55px;
        padding:0 10px 5px;
		width:80%;
		
    }
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus,
	    .navbar-inverse .navbar-nav .active a:hover{
		color:#FFF;
		background-color:#5E4485;
		
		}
.navbar-inverse .navbar-nav li a{
		 color: #D5D5D5;
		 }
		 
		 
.carousel-caption{
 top:50%;
transform:translateY(-50%);
text-transform:uppercase;
}

.btn{
font-size:18px;
color:#FFF;
padding:12px 22px;
background:#5E4485;
border:2px solid #FFF;
}

.container{
	margin:4% auto;
}
	
#icon{
	width:100%;
	margin-top:50px;
	
}

@media(max-width:600px){
	.carousel-caption{
		display:none;
	}
	#icon{
		max-width:150px;
	}
	h2{
		font-size:1.7em;
	}
}

.arranging{
	 text-align:justify;
}

footer{
	width:100%;
	background-color:#5E4485;
	padding:5%;
	color:#FFF;
}

.fa{
	padding:15px;
	font-size:25px;
	color:#FFF;
}
.fa:hover{
	color:#D5D5D5;
	text-decoration:none;
}
@media(max-width:900px){
	.fa{
		font-size:20px;
		padding:10px;
	}
}
	